certifi==2024.2.2
charset-normalizer==3.3.2
cinemagoer @ git+https://github.com/cinemagoer/cinemagoer@c33292d692f139e17df76121d7de54dcd67324bb
greenlet==3.0.3
idna==3.6
lxml==5.1.0
redis==5.0.1
requests==2.31.0
SQLAlchemy==2.0.27
typing_extensions==4.10.0
urllib3==2.2.1
